/*-----------------------------------------------------------*/
/*X & O*/
/* BOARD
------------------------*/
.o{
    background-color: blue;
    /*background-image: url(img/cross.png); */
}

.x{
    background-color: red;
}


/* flex-boxes
------------------------*/
.container{
    display: flex;
    flex-wrap: nowrap;
}

/* HEADER
------------------------*/
.header{
    background-color: #8aded5;
    width: 100%;
}

/* BOARD
------------------------*/
.board{
    background-color: whitesmoke;
    flex-grow: 6;
    display: flex;
    justify-content: center;
    align-items: center;
/*    flex-direction: column;
    justify-content: center;*/
}

/* PLAYER1
------------------------*/
#player1{
    background-color: #8a93de;
}

/* PLAYER2
------------------------*/
#player2{
    background-color: #8adeab;
}

/* ASIDE
------------------------*/
.aside{
    flex-grow: 3;
    min-height:700px;
}

/* FOOTER
------------------------*/
.footer{
    background-color: #93de8a;
    width: 100%;
}

/*-----------------------------------------------------------*/
/*Centering the tic tac toe board*/
/* BOARD
------------------------*/
#centerBoard{
    /*margin: 0 auto;*/
    background-color: whitesmoke;
    height: 609px;
    width: 609px;
}

.box{
    width:200px;
    height:200px;
    float: left;
    position: relative;
    /*border: 1px solid;*/
    /*display: inline-block;*/
}

.box_x {
    width: 180px;
    height: 180px;
    margin: 10px auto;
    background: url(../img/cross.png);
    background-size: contain;
    background-color: white;
}

.box_o {
    width: 180px;
    height: 180px;
    margin: 10px auto;
    background: url(../img/circle.png);
    background-size: contain;
    background-color: white;
}

.leftright{
    border-left: 3px solid;
    border-right: 3px solid;
}

.updown{
    border-top: 3px solid;
    border-bottom: 3px solid;
}

.middle{
    border: 3px solid;
}

/*-----------------------------------------------------------*/
/* Hidding the model
------------------------*/
#model{
    display: none;
}

/* Highlight Class for players
------------------------*/
/*.highlight{
    background-color: ;
}*/


